*{
    padding: 0;
    margin: 0;
    font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";

}
body{
    
    background:#f6f8fa;
    height: 200vh;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#title{
    margin-top: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 40vh;
    gap: 30px;
    width: 65%;
    
}

#tagline{
    text-align: center;
    color: #57606a;
    width: 80%;
    line-height: 1.5;
}
#free_for_30{
    width: 53%;
    height: 45px;
    border-radius: 8px;
    border: none;
    color:white;
    background:#24292f;
    font-weight: bold;
    font-size: 13px;
}
.cards{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#free{
    display: grid;
    
    justify-items: center;
    row-gap: 10px;
    border: 1px solid black;
    padding: 10px;
   
    min-width: 650px;
    border-radius: 20px;
    
}
#free_text{
    display: grid;
    justify-items: center;
    gap: 5px;
    padding-bottom: 10%;
    font-size: 10px;
    

}
#free_text p{
    width: 60%;
    font-size: 15px;
}
.plan-features .plan-item summary{
   
    gap: 1000px;
    padding: 10px;

}
.plan-features{
    
    width: 100%;
    padding: 0px;
}










