body{
    margin: 0;
    padding: 0;
    min-height: 100vh;
}
#container{
    display: flex;
    justify-content: center;
}
#content{
    margin-top: 50px;
    background-color: #ddd;
    min-width: 200px;
    padding: 20px;
    border-radius: 15px;
    padding-bottom: 0;
}
#list{
    display: flex;
    flex-direction: column-reverse;
    align-items: start;
    font-size: 20px;
    padding: 0;
    max-height: 80vh;
    overflow: auto;
    gap: 5px;


}
#list li{
    list-style: none;
    cursor: pointer;
    border:1px solid black;
    min-width: 250px;
    border-radius: 10px;
    padding: 5px 2px 5px 10px;
    display: flex;
    justify-content: space-between;

}
ul li.active{
    text-decoration: line-through;
    background-color: #8fe84f;
}

ul li span{
    display: flex;
    width: 20px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}



ul li span:hover{
    background-color: #4e4c4d;
    cursor: pointer;
    border-radius: 5px;
}



#row{
    display: flex;
    justify-content: center;
    gap: 10px;
}
#input{
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
    border: 1px solid black;
    font-size: 15px;

}
#button{
    border-radius: 10px;
    border: none;
    border: 1px solid black;
}